.ordered__books {
  margin-top: 100px !important;
  margin: auto;
  width: 60%;
}

.ordered__book {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  padding: 20px;
  border: 1px solid crimson;
  box-shadow: 2px 3px 5px crimson;
  background-color: rgba(255, 217, 0, 0.055);
}
.book__cover {
  width: 30%;
}
.book__info {
  width: 70%;
  text-align: left;
}

.book__title,
.book__author,
.book__genre {
  text-align: center;
  margin-bottom: 30px;
}

.order__button {
  margin: 0 auto !important ;
  display: block !important;
}
